@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico|Playfair+Display|Shadows+Into+Light&display=swap');

body {
    background: turquoise;
    margin: 0;
    padding: 0;
    font-family: 'Shadows into light';
    font-size: 25px;
    display: grid;
    align-content: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}

h1 {
    font-size: 60px;
    margin: 0;
    font-family: 'Pacifico';
    font-weight: normal;
    color: white;
}

p {
    color: aqua;
}

h2 {
    font-family: 'Amatic SC';
}

ul {
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
    color: aqua;
}

li {
    text-align: left;
}